In [2]:
df<-read.csv("C:/Users/Arthur Duram Um/Programming/R/Car accidents.csv")

$\left(-\frac{b}{2a} , c - \frac{b^2}{4a} \right)$

In [4]:
str(df)

'data.frame':	26217 obs. of  16 variables:
 $ X          : int  1 2 3 4 5 6 7 8 9 10 ...
 $ dvcat      : Factor w/ 5 levels "1-9km/h","10-24",..: 3 2 2 3 3 4 5 5 2 2 ...
 $ weight     : num  25.1 25.1 32.4 495.4 25.1 ...
 $ dead       : Factor w/ 2 levels "alive","dead": 1 1 1 1 1 1 1 2 1 1 ...
 $ airbag     : Factor w/ 2 levels "airbag","none": 2 1 2 1 2 2 2 2 2 2 ...
 $ seatbelt   : Factor w/ 2 levels "belted","none": 1 1 2 1 1 1 1 2 1 1 ...
 $ frontal    : int  1 1 1 1 1 1 1 1 0 1 ...
 $ sex        : Factor w/ 2 levels "f","m": 1 1 1 1 1 1 2 2 2 1 ...
 $ ageOFocc   : int  26 72 69 53 32 22 22 32 40 18 ...
 $ yearacc    : int  1997 1997 1997 1997 1997 1997 1997 1997 1997 1997 ...
 $ yearVeh    : int  1990 1995 1988 1995 1988 1985 1984 1987 1984 1987 ...
 $ abcat      : Factor w/ 3 levels "deploy","nodeploy",..: 3 1 3 1 3 3 3 3 3 3 ...
 $ occRole    : Factor w/ 2 levels "driver","pass": 1 1 1 1 1 1 1 1 1 1 ...
 $ deploy     : int  0 1 0 1 0 0 0 0 0 0 ...
 $ injSeverity: int  3 1 4 1 3 3 3 4 1 0 ...
 $ caseid     : Factor w/ 9409 levels "11:1:1","11:1:2",..: 1645 1646 1688 1488 1510 1511 1555 1556 1571 1572 ...

In [5]:
summary(df)

       X             dvcat           weight            dead
 Min.   :    1   1-9km/h:  686   Min.   :    0.00   alive:25037
 1st Qu.: 6555   10-24  :12848   1st Qu.:   32.47   dead : 1180
 Median :13109   25-39  : 8214   Median :   86.99
 Mean   :13109   40-54  : 2977   Mean   :  462.81
 3rd Qu.:19663   55+    : 1492   3rd Qu.:  364.72
 Max.   :26217                   Max.   :57871.59

    airbag        seatbelt        frontal       sex          ageOFocc
 airbag:14419   belted:18573   Min.   :0.0000   f:12248   Min.   :16.00
 none  :11798   none  : 7644   1st Qu.:0.0000   m:13969   1st Qu.:22.00
                               Median :1.0000             Median :33.00
                               Mean   :0.6433             Mean   :37.21
                               3rd Qu.:1.0000             3rd Qu.:48.00
                               Max.   :1.0000             Max.   :97.00

    yearacc        yearVeh          abcat         occRole          deploy
 Min.   :1997   Min.   :1953   deploy  : 8836   driver:20601   Min.   :0.000
 1st Qu.:1998   1st Qu.:1989   nodeploy: 5583   pass  : 5616   1st Qu.:0.000
 Median :2000   Median :1994   unavail :11798                  Median :0.000
 Mean   :2000   Mean   :1993                                   Mean   :0.337
 3rd Qu.:2001   3rd Qu.:1997                                   3rd Qu.:1.000
 Max.   :2002   Max.   :2003                                   Max.   :1.000
                NA's   :1
  injSeverity         caseid
 Min.   :0.000   13:157:1:   11
 1st Qu.:1.000   11:131:1:   10
 Median :2.000   2:94:1  :   10
 Mean   :1.716   12:50:1 :    9
 3rd Qu.:3.000   41:49:1 :    9
 Max.   :6.000   43:169:1:    9
 NA's   :153     (Other) :26159